[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://pypi.thecodelabs.de"
verify_ssl = true
name = "TheCodeLabs"

[requires]
python_version = "3"

[packages]
flask = "==2.2.3"
gevent = "==22.10.2"
requests = "==2.28.2"
TheCodeLabs-BaseUtils = "*"
TheCodeLabs-FlaskUtils = "*"
