[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://pypi.thecodelabs.de"
verify_ssl = true
name = "TheCodeLabs"

[requires]
python_version = "3"

[packages]
flask = "==1.1.2"
gevent = "==20.9.0"
requests = "==2.24.0"
TheCodeLabs-BaseUtils = "==1.3.1"
TheCodeLabs-FlaskUtils = "==1.1.0"
