[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://pypi.thecodedev.de"
verify_ssl = true
name = "TheCodeLabs"

[requires]
python_version = "3.7"

[packages]
flask = "==1.1.2"
gevent = "==1.5.0"
requests = "==2.23.0"
TheCodeLabs-BaseUtils = "==1.0.0"
TheCodeLabs-FlaskUtils = "==1.0.2"
