.bold {
	font-weight: 500 !important;
}

.no-margin-bottom{
	margin-bottom: 0 !important;;
}

.margin-left {
	margin-left: 1rem;
}

.high-progress {
	height: 10px !important;
}

.no-padding-right{
	padding-right: 0 !important;
}

.no-padding{
	padding: 0 !important;
}

.padding{
	padding: 10px;
}

.padding-left-and-right{
	padding-left: 10px;
	padding-right: 10px;
}

.margin-top{
	margin-top: 20px !important;;
}

.margin-bottom{
	margin-bottom: 20px !important;
}

.border{
	border: 1px solid red;
}

.no-transform{
	text-transform: none;
}

.no-shadow{
	box-shadow: none;
}

.margin-left-and-right {
	margin-left: 1rem;
	margin-right: 1rem;
}

.margin-top-and-bottom{
	margin-top: 0.5rem !important;
	margin-bottom:  0.5rem !important;
}

.trainmap{
	margin-top: 50px;
}

.trainmap-small{
	margin-top: 57px;
}

.train-circle{
	margin: auto;
	width: 30px;
	height: 30px;
	border-radius: 50%;
}

.train-circle-small{
	width: 15px !important;
	height: 15px !important;
}

.train-circle-light{
	background-color: #64b5f6 !important;
}

.train-line{
	margin: auto;
	width: 8px !important;
	border-left: 8px solid #2196f3;
}

.train-line-small{
	width: 4px !important;
	border-left: 4px solid #2196f3 !important;
}

.dotted{
	border-left: 8px dashed #64b5f6 !important;
}

.dotted-small{
	 border-left: 4px dashed #64b5f6 !important;
 }

.milestone-title{
	cursor: pointer;
}

#headline{
	margin-top: 2.5rem;
	margin-bottom: 2.2rem;
}

.milestone-content {
	display: none;
}