<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <title>Login</title>

        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="../static/materialize/css/materialize.min.css" media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="../static/css/style.css"/>

        <script type="text/javascript" src="../static/js/jquery-2.2.4.min.js"></script>
        <script type="text/javascript" src="../static/materialize/js/materialize.min.js"></script>
        <script type="text/javascript" src="../static/js/main.js"></script>
    </head>

    <body class="grey lighten-3">
        <div id="main">
            <div class="container">
                <h2 class="center-align" id="headline">Login</h2>
                <form action="{{ url_for('authentication.login') }}" method="post" onsubmit="return validateLoginForm()">
                    <div class="row center-align no-margin-bottom">
                        <div class="col s10 offset-s1 m6 offset-m3 l4 offset-l4">
                            <div class="input-field col s12">
                                <input id="password" name="password" type="password" class="no-margin-bottom">
                                <label for="password">Password</label>
                            </div>
                        </div>
                    </div>

                    {% if message %}
                        <div class="row no-margin-bottom">
                            <div class="col s10 offset-s1 m6 offset-m3 l4 offset-l4 center-align">
                                <table class="red-text login-message">
                                    <tr>
                                        <td><i class="material-icons">warning</i></td>
                                        <td id="loginMessage">{{ message }}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    {% endif %}

                    <div class="row center-align margin-top">
                        <div class="col s12 m8 offset-m2 l6 offset-l3">
                            <a class="waves-effect waves-light btn blue darken-3" href="{{ url_for('overview') }}"><i class="material-icons left">home</i>Home</a>
                            <button class="bwaves-effect waves-light btn blue darken-3 margin-left button-login" type="submit" name="action">
                                <i class="material-icons left">exit_to_app</i>Login
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>