{% macro headerFull(level, title) -%}
    <head>
        <meta charset="UTF-8"/>
        <title>{{ title }}</title>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="{{ level }}/static/materialize/css/materialize.min.css" media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="{{ level }}/static/css/style.css"/>

        <!--Import jQuery before materialize.js-->
        <script type="text/javascript" src="{{ level }}/static/js/jquery-2.2.4.min.js"></script>
        <script type="text/javascript" src="{{ level }}/static/materialize/js/materialize.min.js"></script>
        <script type="text/javascript" src="{{ level }}/static/js/main.js"></script>
        <script type="text/javascript" src="{{ level }}/static/js/ResizeSensor.js"></script>
        <script type="text/javascript" src="{{ level }}/static/js/ElementQueries.js"></script>

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
{%- endmacro %}

{% macro adminLogin() -%}
    <a class="btn-flat right" href="{{ url_for('authentication.login') }}">Login</a>
    <div style="clear: both;"></div>
{%- endmacro %}