<html xmlns="http://www.w3.org/1999/html">
    {% import 'macros.html' as macros %}
    {{ macros.headerFull("../..", title) }}

	<body class="grey lighten-3">
		<div id="main">
			<div class="container">
                <h2 class="center-align" id="headline">{{ title }}</h2>

                <form action="{{ form_url }}" method="post" onsubmit="return validateNewTaskForm()">
                    <input type="hidden" name="TaskID" value="{{ task_ID }}"/>
                    {% if subtask %}
                        <input type="hidden" name="ID" value="{{ subtask["ID"] }}"/>
                    {% endif %}

                    <div class="row center-align">
                        <div class="col s12 m8 offset-m2 l6 offset-l3">
                            <div class="input-field col s12">
                                <input id="title" name="Title" type="text" value="{% if subtask %}{{ subtask["Title"] }}{% endif %}">
                                <label for="title">Title</label>
                            </div>
                        </div>
                    </div>

                    <div class="row center-align">
                        <div class="col s12 m8 offset-m2 l6 offset-l3">
                            <div class="input-field col s12">
                                <input id="title" name="Description" type="text" value="{% if subtask %}{{ subtask["Description"] }}{% endif %}">
                                <label for="title">Description</label>
                            </div>
                        </div>
                    </div>
                    <div class="row center-align">
                        <div class="col s12 m8 offset-m2 l6 offset-l3">
                            <div class="col s12 left-align">
                                <label>
                                    <input type="checkbox" id="checkbox-done" name="Status" {% if subtask and subtask["Status"] == 1 %}checked{% endif %}/>
                                    <span>Done</span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="row center-align margin-top">
                        <div class="col s12 m8 offset-m2 l6 offset-l3">
                            <a class="waves-effect waves-light btn blue darken-3" href="{{ url_for("admin_subtasks.overview", task_ID=task_ID) }}"><i class="material-icons left">arrow_back</i>Back</a>
                            <button class="bwaves-effect waves-light btn blue darken-3 margin-left" type="submit" name="action">
                                <i class="material-icons left">save</i>Save
                            </button>
                        </div>
                    </div>
                </form>
			</div>
		</div>
	</body>
</html>