[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://pypi.thecodelabs.de"
verify_ssl = true
name = "TheCodeLabs"

[requires]
python_version = "3"

[packages]
flask = "==1.1.2"
flask_jwt_extended = "==3.24.1"
gevent = "==20.6.1"
psycopg2 = "==2.8.5"
TheCodeLabs-BaseUtils = "==1.0.0"
TheCodeLabs-FlaskUtils = "==1.0.2"

[dev-packages]
pyyaml = "==5.3.1"
