[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://pypi.thecodelabs.de"
verify_ssl = true
name = "TheCodeLabs"

[requires]
python_version = "3"

[packages]
flask = "==1.1.2"
flask_jwt_extended = "==4.1.0"
gevent = "==21.1.2"
psycopg2 = "==2.8.6"
TheCodeLabs-BaseUtils = "==1.7.0"
TheCodeLabs-FlaskUtils = "==1.2.3"
pyyaml = "==5.4.1"

[dev-packages]
