[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://pypi.thecodelabs.de"
verify_ssl = true
name = "TheCodeLabs"

[requires]
python_version = "3"

[packages]
flask = "==2.3.2"
flask_jwt_extended = "==4.4.4"
gevent = "==22.10.2"
psycopg2 = "==2.9.6"
TheCodeLabs-BaseUtils = "*"
TheCodeLabs-FlaskUtils = "*"
pyyaml = "==6.0.0"

[dev-packages]
